{
  "presets": [
    [
      "@babel/preset-env"
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ],
    [
      "@babel/proposal-class-properties",
      {
        "legacy": true
      }
    ],
    "@babel/syntax-dynamic-import",
    "@babel/transform-async-to-generator"
  ],
  "ignore": [
    "public",
    "resources"
  ]
}